* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

#container {
  display: flex;

  justify-content: center;
  align-items: center;
  max-height: 100vh;
  max-width: 100vw;
}

#card {
  background-color: goldenrod;
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  height: 200px;
  width: 200px;
}