@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: var(--gradient-4)
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-6);
  border-radius: var(--radius-3);
  border: var(--border-size-2) solid var(--orange-3);
  box-shadow: var(--shadow-6);
  height: 500px;
  width: 300px;
}

p {}