@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: var(--gradient-4)
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange-6);
  border-radius: var(--radius-3);
  border: var(--border-size-2) solid var(--orange-3);
  box-shadow: var(--shadow-6);
  height: 500px;
  width: 300px;

}

section:hover {
  animation-name: card-hover;
  animation-duration: 0.75s
}

p {
  font-family: Lato;
  font-size: var(--font-size-6);
  font-weight: var(--font-weight-3);
  color: var(--orange-1);
  text-align: center;
  font-weight: 400;
}

@keyframes card-hover {
  0% {
    transform: scale(1);
    background-color: var(--orange-6);
  }

  50% {
    transform: scale(1.1);
    background-color: var(--orange-7);
  }

  100% {
    transform: scale(1);
    background-color: var(--orange-6);
  }
}